*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

img{
    max-width: 100%;
}

.titulo{
    font-size: 72px;
    color: #000;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
}

.areaPrincipal{
    background-color: #272b33;
    padding: 60px 0;
    margin-top: 80px;
}

.container{
    max-width: 1856px;
    margin: 0 auto;
}

.listaPersonagem{
    display: flex;
    gap: 20px;
}

.card{
    flex: 1;
    display: flex;
    height: 220px;
    gap: 12px;
    background-color: #3c3e44;
    border-radius: 8px;
}

.card img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.informacoesPersonagem{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.informacaoCard{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nomePersonagem{
    color: white;
    font-weight: bold;
    font-size: 28px;
}

.status{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.ultimaLocalizacao, .visto{
    color: #9e9e9e;
    font-weight: lighter;
}

.episodeo, .localizacao{
    color: white;
}
